{% load adminpanel %}
{# A status line instead of Django's hash parameters (algorithm, salt, ...). #}
<div{% include 'django/forms/widgets/attrs.html' %}>
  <div class="jv-password">
    {% with status=widget.value|password_status %}
      <span class="jv-badge jv-badge--{{ status.tone }}">{{ status.label }}</span>
      {% if status.algorithm %}<span class="jv-muted">{{ status.algorithm }}</span>{% endif %}
    {% endwith %}
    <p><a role="button" class="button" href="{{ password_url|default:"../password/" }}">{{ button_label }}</a></p>
  </div>
</div>
